/*_____________________________________MENU___________________________
*/


.menu_logo_text {
    font-family: Trebuchet;
    /* Style for "kshop" */
    color: #000000;
    font-size: 28px;
    letter-spacing: -0.75px;
}

.menu_logo {
    display: flex;
    text-align: left;
    margin-right: 368px;
    margin-left: 15px;
    vertical-align: middle;
    align-self: center;
}

.menu_logo_img {
    height: 15px;
}

.search_block {
    display: inline-block;
    margin: 20px 15px;
}


.menu_search {
    color: #949393;
    width: 198px;
    height: 33px;
    border: 1px solid #d6d6d6;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.menu_search:first-child {
    border-bottom: none;
}


.menu_search_text {
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    /* Text style for "0 items  |" */
    letter-spacing: -0.15px;
    display: flex;
}

.menu_search_text_1 {
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    /* Text style for "0 items  |" */
    letter-spacing: -0.15px;
    display: flex;
    align-self: center;

}

.menu_search_img {
    width: 20px;
    height: 20px;
    display: flex;
    align-self: center;

}

.menu_search_img_1 {
    
    display: flex;
    align-self: center;
}

.menu_menu {
    width: 730px;
    background-color: #fd926d;
    margin: 0 auto;
    color: white;
    margin-bottom: 25px;
}

.menu_menu_img {
    float: right;
    vertical-align: middle;
    width: 22px;
    padding: 15px 17px;
    cursor: pointer;
    padding-top: 10px;
    padding-right: 15px;
}

.disp {
    display: flex;
    align-items: end;
    justify-content: center;
}
a.header_tel {
    color:white;
}

.menu_menu_text {
    color: white;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.15px;
    font-family: Arial;
    padding: 10px 17px;
    text-align: left;

}

.menu_email_text {
    color: #9f9f9f;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: -0.15px;
    align-self: center;
    padding-left: 9px;
    padding-right: 22px;
}

.menu_email {
    background-color: white;
    height: 28px;
    display: flex;
    cursor: pointer;
justify-content: center;
}
.menu_dots {
    display: flex;
justify-content: center;
}

.menu_block {
    background: #ededed;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
    justify-content:center;
    
}

.menu_menu_plus {
    width: 26px;
    height: 26px;
    box-shadow: 0 2px 0 #dd6b44;
    background: #fd926d;
       justify-content: center;
    display: flex;
}
.menu_menu_plus:hover {
    background: pink;
}

.menu_find {
    color: #6c6c6c;
    font-size: 12px;
    letter-spacing: -0.13px;
    display: inline-block;
    margin-left: 235px;
    display: flex;
}

.menu_facebook,
.menu_pin,
.menu_twitter {
    width: 55px;
    height: 55px;
    font-size: 31px;
    cursor: pointer;
    font-family: Socialico;
    color: #6b6b6b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_twitter:nth-child(2n + 1) {
    background: #f7f7f7;
}

.menu_facebook,
.menu_pin {
    background: #f7f7f7;
}

.menu_facebook:hover,
.menu_pin:hover,
.menu_twitter:hover {
    background: pink;
    font-size: 31px;
    color: #6b6b6b;

}
.pics_back {
    background: #fd926d;
}

.main_pics_plus {
    width: 11px;
    height: 11px;
    vertical-align: bottom;
    display: flex;
    align-self: center;
 
}
.main_load {
    display: none;
}
.main_hot_left {
    width: 47px;
margin-left: 30px;
height: 47px;
margin-top: 13px;

background-color: #f2f2f2;
}
.main_hot_right {
    /* Style for "Rectangle" */
width: 47px;
height: 47px;
margin-top: 13px;
background-color: #f2f2f2;

}
.main_hot_left:hover, .main_hot_right:hover {
    background-color: pink;

}
.main_hot_left:active, .main_hot_right:active {
    background-color: #fd926d;

}
.main_lef, .main_righ {
    padding-top: 10px;
    padding-left: 17px;
}
.main_righ {
    transform: scaleX(-1);
    margin-left: 17px;
}
.mid_hidden {
    display: none;   
}
.menu_find_text {
    font-family: Arial;
    font-weight: 500;
    display: flex;

    align-self: center;
    padding-right: 15px;
}

.find_icons {
    padding-left: 17px;
}

.find_icon:first-of-type {
    padding-left: 25px;
}

.find_icon {
    display: flex;
}

.menu_pic {
    margin-bottom: 22px;
    background: #f6f3ec;
    background-image: linear-gradient(to right, #f6f3ec, #eae2d8);
    position: relative;
}
.menu_pic_background {
    background: #fd926d;
}

.menu_pic_wrapper {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 350px;
}

.menu_pic_text {
    font-family: "Luxury";
    color: #78645d;
    margin: 0 5px;

    font-size: 27px;

    font-weight: 400;
}

.crazy {
    display: flex;

    align-items: center;
    margin-bottom: 5px;
    justify-content: center;
}

.crazy_hr {
    width: 56px;
    height: 1px;
    opacity: 0.5;
    background: #78645d;
}

.crazy_hr_1 {
    width: 56px;
    height: 1px;
    opacity: 0.5;

    background: #78645d;

}
.button_main_left {
    left: 0;
}
.button_main_right {
    right: 0;
}

.button_main_left,
.button_main_right {
    width: 30px;
    height: 117px;
    background: white;
    opacity: 0.8;
    position: absolute;
    top: 35%;

}


.main_left {
    display: flex;
    margin-left: 78px;
    flex-direction: column;
    margin-top: 60px;
}

.button_main_right {
    right: 0;
}

.arrow {
    padding: 50px 8px;
}

.button_main_left:hover,
.button_main_right:hover {
    width: 30px;
    height: 117px;
    background: white;
    opacity: 1.0;
    position: absolute;
    bottom: 470px;
    cursor: pointer;
}

.menu_pic_text_1 {
    color: #78645d;

    font-family: Helvetica;

    font-size: 23px;

    font-weight: 400;

    text-transform: uppercase;
}

.block_pic {
    position: absolute;
    top: 210px;
    left: 75px;
}