/*_____________________________________MENU___________________________
*/
.menu_logo_text {
	font-family: Trebuchet;
	/* Style for "kshop" */
color: #000000;
font-size: 92px;
letter-spacing: -0.75px;
text-align: center;
display: block;
}
.menu_logo {
	margin: 60px 140px;

}
.menu_search {
	color:#949393;;
	width: 610px;
	padding-bottom: 23px;
	padding-top: 22px;
	border: 1px solid #d6d6d6;
	background-color: #fafafa;
	margin: 0 auto;
	
}
.menu_search_text {
	font-family: Arial;
font-size: 30px;
font-weight: 400;
text-transform: uppercase;
/* Text style for "0 items  |" */
letter-spacing: -0.15px;
display: inline-block;	
padding-left: 280px;
padding-right: 33px;

}
.menu_search_img {
	padding-left: 30px;
	display: inline-block;
	vertical-align: bottom;
	
}

.menu_menu {
	width: 610px;
	background-color: #fd926d;
	margin: 0 auto;
	color: white;
	margin-bottom: 25px;
	margin-top: 25px;
	padding: 31px 0px;

}
.menu_menu_img {
	float:right;
	padding-right: 30px;
}


.menu_menu_text {
	color: white;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: -0.15px;
	font-family: Arial;
	text-align: left;
	padding-left: 30px;
	}
	
.menu_email_text {
	color: #9f9f9f;
	font-size: 30px;
	font-weight: 300;
	font-style: italic;
	letter-spacing: -0.15px;
	padding: 30px 30px;
}
.menu_email {
	width: 610px;
	background-color: #ededed;
	margin: 0 auto;
	height: 96px;
}
.menu_menu_plus {
	width: 37px;
	box-shadow: 0 8px 0 #dd6b44;
	background: #fd926d;
	padding: 24px 30px;
	float: right;
}

.menu_find {
	color: #6c6c6c;
	font-family: Arial;
	font-size: 26px;
	font-weight: 300;
	letter-spacing: -0.13px;
	padding: 25px 65px;
	text-align: center;
}
.menu_facebook, .menu_pin, .menu_twitter {
	display: inline-block;
	
}
.menu_find_text {
	display: inline-block;
	padding-bottom: 10px;
}