@font-face {
    font-family: "Trebuchet";
    /* Имя шрифта */
    src: url("tr.ttf");
    color: white;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Luxury";
    src: url("Luxury.ttf");
    color: white;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Socialico";
    src: url("Socialico.ttf");
    color: white;
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0 auto;
}

.wrapper {
    font-family: Trebuchet;
    min-height: 100%;
    margin-bottom: -80px;
}

.wrapper:after {
    content: "";
    display: block;
}

.wrapper:after,
footer {
    height: 80px;
}

footer {
    color: white;
    margin: 0 auto;
    display: flex;
    background-color: black;
    align-items: center;
}

.footer_container {
    background-color: black;
    display: flex;
    justify-content: center;
    max-width: 768px;


    align-items: baseline;
}

.footer_text {
    font-size: 11px;
    font-weight: 400;
    font-family: Arial;
    color: #8d8d8d;
    text-align: right;
    padding-right: 15px;
}

a:visited {
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.footer_text_1 {
    font-size: 11px;
    font-weight: 400;
    font-family: Arial;
    color: #8d8d8d;
    padding: 25px 15px;
    margin-right: 160px;
    display: flex;
}

.footer_img {
    padding-left: 30px;
    padding-top: 15px;
    display: inline;
}


.main_container,
.footer_container,
.menu_container {
    width: 768px;
    margin: 0 auto;
    text-align: center;
}

.container {
    width: 768px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.pics {
    background: #fd926d;
}

.header_phone {
    color: white;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    /* Text style for "custom car" */
    letter-spacing: -0.15px;
    font-family: Arial;
    display: flex;
    margin-right: 320px;
    margin-left: 15px;

}

.header_phone:hover {
    color: pink;
    cursor: pointer;
}

.header_container {
    background-color: black;
    display: flex;
}

.header_buttons {
    color: white;
    text-transform: uppercase;
    max-width: 768px;
    height: 30px;
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.15px;
    display: flex;
    margin: 0 auto;
    align-items: center;

}

.button_2_img {
    width: 14px;
}

.button_1_text {
    float: left;
    padding-right: 14px;
}

.button_1,
.button_2,
.button_3 {
    vertical-align: middle;
    height: 30px;
}

.button_text {
    padding-top: 7px;
}

.button_1 {
    padding-right: 15px;
    padding-left: 15px;
    border-left: 1px solid grey;

}

.button_1_img {
    vertical-align: middle;
    width: 10px;
}

.button_2 {
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.button_3 {
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid grey;
    margin-right: 15px;
}

.button_3_img {
    width: 15px;
}

.button_2_img {
    vertical-align: bottom;
    padding-right: 10px;
}

.button_1:hover,
.button_2:hover,
.button_3:hover {
    background: pink;
    cursor: pointer;
}