@font-face {
	font-family: "FiraSans"; /* Имя шрифта */
	src: url("FiraSans-Light.otf");
	color: white;
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "FiraSans"; /* Имя шрифта */
	src: url("FiraSans-Regular.otf");
	color: white;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "FiraSans"; /* Имя шрифта */
	src: url("FiraSans-SemiBold.otf");
	color: white;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "FiraSans"; /* Имя шрифта */
	src: url("FiraSans-Bold.otf");
	color: white;
	font-weight: 700;
	font-style: normal;
}

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	font-family: "FiraSans";
}


.container {
	margin: 0 auto;
	min-width: 1200px;
	width: 1200px;
	box-sizing: border-box;
	text-align: center;
}

.wrapper:after {
	 content:'';
	display: block; 

}
.wrapper:after, footer {
	height: 80px;
}

.wrapper {
	min-height: 100%;
	margin-bottom: -80px;

}


/*header, .main, .about {
	min-width: 1200px;
	margin: 0 auto;
}*/

footer {
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
	background-color: #212121;
	margin: 0 auto;
	text-align: center;
}

.footer_container {
	padding: 16px;
}
.footer_text {
	opacity: 0.5;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
}

