/*____________________________________MAIN________________________*/
.main {
    margin: auto 0;
}

.main_h2 {
    padding: 15px 0px;
    font-size: 18px;
    font-weight: 400;
    font-family: Arial;
    text-transform: uppercase;
    /* Text style for "Atmos&Here" */
    letter-spacing: -0.14px;
}

.main_h3 {
    font-size: 27px;

    font-weight: 400;

    text-transform: uppercase;

    /* Text style for "$96.55" */

    letter-spacing: -0.22px;
}

.sale_hr {
    opacity: 0.5;
    width: 395px;
    height: 1px;
    text-align: end;
    background-color: #b2b2b2;
    margin-bottom: 70px;
    align-self: baseline;
}

.main_mid {
    display: flex;
    padding: 0 15px;
    flex-wrap: wrap;
    justify-content: end;
    flex-direction: column-reverse;
}

.main_sale_img, .main_sale_img_1 {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.main_sale_img_1 {
    display: flex;
    align-items: end;
}

.mid_wrapper {
    padding: 35px 21px;
    display: flex;
    align-items: stretch;
}

.mid_1,
.mid_2 {
    width: 362px;
}

.main_mid_1 {
    padding-right: 3px;
}

.mid_3,
.mid_4 {
    width: 179px;
}

.mid_3 {
    padding-right: 4px;
}

.main_mid_3_1 {
    display: flex;
}

.main_hot_new {
    color: white;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    padding: 0px 5px;
    margin-top: 33px;
    display: flex;
}

.hot_img {
    width: 140px;
    height: 45px;
    background: #fd926d;
    margin: 10px 0px 0 15px;
}


.hot_img:not(:first-child) {
    background-color: white;
}
.main_hot_min {
    display: none;
}
.main_hot_text {
    padding-top: 10px;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.15px;
    color: black;
    z-index: 1;
    padding-left: 20px;
}
.main_1 {
    color:white;
}



.hot_img {
    float: right;
    padding-top: 5px;
}

.main_pics {
    margin-bottom: 25px;
}
.min_hidden, mid_hidden {
    display: none;
}

.main_pics:first-child {
    background: #fd926d;
}

.updated {
    color: #6b6b6b;

    font-family: Arial;

    font-size: 12px;

    font-weight: 400;

    /* Text style for "Stay updat" */

    letter-spacing: -0.06px;
}

.main_pics_button {
    cursor: pointer;
    background-color: #fd926d;
    width: 120px;
    border-bottom: 3px solid #dd6b44;
    margin: 0 auto;
    margin-top: 11px;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    width: 120px;
    align-items: center;
}

.main_pics_button_text {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    padding-right: 5px;

}

.sale_img {
    height: 295px;
    width: 220px;
    padding-top: 30px;
    position: relative;
}

.img_hidden {
    position: absolute;
    top: 70px;
    left: 23px;
    z-index: 1;
    visibility: hidden;
}

.main_sale_block:hover .img_hidden {
    visibility: visible;
    transition: 13s;
    cursor: pointer;
}
.main_sale_block {
    margin: 0 15px;
}


.main_pics {
    margin: 0 auto;
}


.main_sale_pic {
    width: 157px;
    margin: 0 18px;
    opacity: 1.0;

}

.main_wrapper {
    margin: 0 auto;
    text-align: center;
}


.main_sale_block {
    width: 220px;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 35px;
}

.main_sale_block:hover {
    transform: scale(1.1);
}




.main_load {
    width: 220px;
    background-color: #000000;
    margin: 0 auto;
    margin-top: 30px;
    color: white;
    font-family: Arial;
}

.main_load_text {
    font-size: 20px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
    margin-top: 22px;
}

.sale_block_text {
    background: #f7f7f7;
    margin-top: 30px;
    padding-bottom: 11px;

}

.right_bag {
    padding-top: 45px;
}

.about_payment {
    background: #f7f7f7;
    padding: 20px 0;
}
.container_about {
    margin: 0 auto;
    width: 768px;
    text-align: center;
}

.about_payment_h {
    opacity: 0.5;

    color: #414141;

    font-family: Arial;

    font-size: 12px;

    font-weight: 400;

    /* Text style for "We accept" */
    letter-spacing: -0.12px;
    margin-right: 15px;
}

.about_p {
    color: #999999;

    font-family: Arial;

    font-size: 14px;

    font-weight: 400;
    padding: 14px 14px 28px 14px;
    line-height: 18px;
}

.about_h2 {
    margin-top: 30px;

}

.about_wrapper {
    width: 768px;
    margin: 0 auto;
    text-align: center;
}

.about_h {
    color: #414141;

    font-family: Arial;

    font-size: 24px;
    font-weight: 400;

    /* Text style for "About Look" */

    letter-spacing: -0.24px;
}

.about_payment_h,
.payment_pics {
    display: inline;
}

.payment_pics {
    vertical-align: middle;
}

.info_h {
    color: #544f4d;
    text-align: left;
    font-family: Arial;
    padding-bottom: 15px;
    font-size: 16px;

    font-weight: 600;

    line-height: 20px;
    padding-top: 30px;
    /* Text style for "Customer S" */

    letter-spacing: -0.16px;
}

.info_wrapper {
    width: 768px;
    margin: 0 auto;
    text-align: center;
}

.info_p {
    color: #544f4d;

    font-family: Arial;

    font-size: 12px;

    font-weight: 400;
    text-align: left;
    line-height: 18px;
}

.info_p:hover {
    cursor: pointer;
}

.info_block {
    text-align: left;
}

.info_wrapper {
    width: 768px;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 20px;
}

.info {
    background: #ededed;

    text-align: center;
}

.info_1,
info_2 {
    margin-right: 45px;
}

.info_img {
    width: 125px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-family: Socialico;
    color: #4c4c4b;
    font-size: 47px;
}

.info_icon:hover {
    cursor: pointer;
    transition: 10ms;
    color: pink;
}

.info_icons {
    padding-left: 116px;
    padding-right: 30px;
    vertical-align: top;
}

.info_icons:hover {
    color: pink;
}

.info_flex_1,
.info_flex_2 {
    display: flex;
    margin-bottom: 5px;
}

.info_flex_2 {
    margin-top: -15px;
}

.info_1,
.info_2,
.info_icons,
.info_100 {
    display: inline-block;
}

.info_100 {
    vertical-align: top;
    padding-top: 20px;
}

.brands_text {
    color: #414141;
    margin: 20px;
    font-family: Arial;
    font-size: 15px;
    font-style: bold;
    font-weight: 400;
    text-transform: uppercase;
    /* Text style for "favourite" */

    letter-spacing: -0.15px;
}

.brands {
    border-bottom: 1px solid #b2b2b2;
    padding: 0px 40px 20px 20px;
}

.brands_img {
    vertical-align: middle;
    padding-right: 30px;
    text-align: right;
}

.brands_wrapper {
    width: 768px;
    margin: 0 auto;
    text-align: center;
}

.main_pics {
    width: 768px;
    text-align: center;
}

.main_wrapper {
    width: 768px;
    margin: 0 auto;
    text-align: center;
}

/* .sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}
.sprite-abandon {
    width: 51px;
    height: 57px;
    background-position: -5px -5px;
}

.sprite-addict {
    width: 83px;
    height: 31px;
    background-position: -66px -5px;
}

.sprite-adidas {
    width: 57px;
    height: 47px;
    background-position: -159px -5px;
}

.sprite-boy {
    width: 56px;
    height: 38px;
    background-position: -226px -5px;
}

.sprite-converse {
    width: 84px;
    height: 16px;
    background-position: -292px -5px;
}

.sprite-klein {
    width: 98px;
    height: 19px;
    background-position: -396px -5px;
} */
.main_pic_button {
    width: 116px;
    align-self: center;
    height: 40px;
    margin-top: 13px;
    box-shadow: 0 3px 0 #dd6b44;
    background: #fd926d;
    display: flex;

    justify-content: center;

    align-items: center;
    color: #ffffff;

    font-family: Helvetica;

    font-size: 12px;

    font-weight: 400;

    text-transform: uppercase;

}


.main_pic_button_text {
    color: #ffffff;

    font-family: Helvetica;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;


}

.arrow_min {
    display: inline;
    margin-left: 5px;
    
}

.main_pic_button:hover {
    cursor: pointer;
}

.main_pic_block {
    width: 158px;

    height: 7px;

    background: #000000;
    opacity: 0.2;
    bottom: 4px;
    visibility: hidden;

}

.main_pic_block:hover {
    opacity: 0.5;
    cursor: grab;
}

.dot {
    width: 10px;
    height: 10px;
    background: #867a76;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

.dot:hover {
    cursor: pointer;
    background-color: #fd926d;
}

.bg-abandon {
    width: 45px;
    height: 57px;
    background-position: -10px -10px;
    background-repeat: no-repeat;
}

.sprite {
    background-image: url('css_sprites.png');
    width: 80px;
    height: 85px;
    display: inline-block;
    margin-right: 30px;
}

.sprite_1 {
    margin: 0 auto;
}

.bg_addict {
    width: 83px;
    background: url('css_sprites.png') -234px 15px;
}

.bg_adidas {

    background-position: -149px 2px;
}

.bg_boy {
    background: url('css_sprites.png') -75px -67px;
}

.bg_converse {
    background-position: -337px 19px;
    width: 85px;
}

.bg_klein {
    width: 98px;
    background: url('css_sprites.png') -441px 14px;
}



// ______________________________________________________@MEDIA_________________________________________________________



@media screen and (min-width: 100px) and (max-width: 767px) {

    .menu_pic,
    .menu_pic_wrapper,
    .mid_wrapper,
    .main_container,
    .footer_text_1,
    .about_shop,
    .brands_wrapper,
    .brands,
    .info,
    .sprite_1,
    .info_wrapper,
    .menu_dots,
    .about_payment,
    .main_sale_img,
    .main_hot_new,
    .main_hot,
    .menu_search,
    .main_left,
    .main_sale_block:last-child,
    .updated,
    .img_hidden {
        display: none;
    }

    .body {
        min-width: 640px;
    }

    .footer {
        height: 108px;
    }

    .footer_container {
        display: flex;
    }

    .footer_img {
        width: 33px;
    }

    .footer_text {
        padding: 0 27px;
        font-size: 24px;

        font-weight: 400;

        line-height: 30px;
    }

    .menu_menu {
        width: 610px;
        /* background-color: #fd926d; */
        /* margin: 0 auto; */
        /* color: white; */


    }
    .main_pics_wrapper {
        background: #fd926d;
        margin-bottom: 10px;
    }

    .main_pics_button {
        width: 220px;

        height: 60px;

        box-shadow: 0 7px 0 #dd6b44;

        background-color: #fd926d;
        padding: 0px;
    }

    .menu_email {
        visibility: visible;
        width: 611px;
        justify-content: space-between;
        height: 96px;

        background-color: #ededed;
        margin: 0 auto;
        height: 96px;
        margin: 0 15px;
    }

    .menu_menu_plus {
        width: 96px;

        height: 88px;

        box-shadow: 0 8px 0 #dd6b44;

        background-color: #fd926d;

    }

    .main_pics_plus {
        width: 37px;
        padding-top: 26px;
    }

    .main_pics_button_text {
        margin-right: 10px;
        margin-left: 20px;
        font-family: Helvetica;

        font-size: 20px;

        font-weight: 400;


        text-transform: uppercase;
    }

    .add_plus {
        width: 17px;
        padding-top: 0px;
        margin-right: 24px;
    }

    .menu_email_text {
        font-size: 30px;

        font-weight: 400;

        /* Text style for "Your email" */

        letter-spacing: -0.15px;
        margin-left: 29px;
    }

    .menu_twitter,
    .menu_pin,
    .menu_facebook {
        width: 90px;
        height: 90px;
        margin-top: 25px;
    }

    .find_icon {
        margin-right: 100px;
        margin-left: 35px;
    }

    .find_icons {
        font-size: 45px;
        padding-left: 27px;
        padding-bottom: 25px;
    }

    .menu_find_text {
        font-family: Arial;
        font-size: 26px;
        font-weight: 300;
        letter-spacing: -0.13px;
        margin-top: 20px;
    }

    .menu_find {
        margin-left: 0px;
        justify-content: center;
    }



    .button_2_img {
        width: 40px;
    }

    .menu_block {
        background: white;
        display: inline;
        width: 640px;
        margin: 0 auto;
    }

    .header_phone {
        color: #838383;
        font-size: 30px;
        font-weight: 300;
        text-transform: uppercase;
        /* Text style for "custom car" */
        letter-spacing: -0.15px;
        padding: 37px 110px;
        font-family: Arial;
        display: inline-block;
        margin-right: 0px;
    }

    .menu_logo_text {
        font-family: Trebuchet;
        /* Style for "kshop" */
        color: #000000;
        font-size: 92px;
        letter-spacing: -0.75px;
        text-align: center;
        display: block;
    }

    .menu_logo {
        margin: 60px 140px;

    }

    .main_load {
        width: 220px;
        background-color: #000000;
        margin: 0 auto;
        margin-top: 30px;
        color: white;
        font-family: Arial;
        text-align: center;
    }

    .pics,
    .main_wrapper {
        margin: 0 auto;
        width: 640px;
    }

    .main_pics {
        width: 640px;
    }

    .menu_logo_img {
        width: 102px;
        height: 50px;
    }

    .main_sale_block,
    .sale_img {
        width: 275px;
    }

    .main_sale_pic {
        width: 157px;
    }

    .disp {
        height: 200px;
    }

    .menu_menu {
        height: 96px;
    }

    .menu_menu_img {
        width: 33px;
        float: right;
        padding-right: 30px;
        padding-top: 33px;
    }

    .menu_menu_text {
        margin-bottom: 25px;
        margin-top: 25px;
        padding: 31px 0px;
        font-size: 30px;
        font-weight: 300;
        margin-left: 30px;

    }

    .main_hot_min {
        color: white;
        text-transform: uppercase;
        background: #f4845d;
        font-family: Arial;
        font-size: 30px;
        font-weight: 400;
        text-align: left;
        padding: 31px 33px;
        justify-content: space-between;
        flex-direction: row-reverse;
        display: flex;
    }
    .min_hidden mid_hidden {
        display: block;
    }

    







}




@media screen and (min-width: 1200px) {
    .header_buttons {
        width: 1200px;
    }
    .footer_container {
        width: 1200px;
    }
//     .main_container,
// .footer_container,
// .menu_container {
//     width: 1200px;
// }
    .menu_menu {
        display: none;
    }
    .main_pics {
        width: 1800px;
    }
    .main_container {

    }
    .disp {
        display: flex;
        align-items: center;
    }
    .arrow_down {
        width: 7px;
        height: 7px;
        padding-top: 3px;

padding-left: 5px;
        align-self: center;
    }
    .map_text {
        display: flex;
        color: #000000;

font-family: Arial;

font-size: 16px;

font-weight: 400;

/* Text style for "new" */

letter-spacing: -0.08px;
    }
    .info_wrapper, .brands_wrapper, {
        width: 1200px;
    }
    .about_wrapper  {
        width: 971px;
    }
    .info_1, .info_2, .info_wrapper {
        display: flex;
        justify-content: center;
    }

    .info_block, .info_p:not(:last-child) {
        margin-right: 45px;
    }
    .footer_text_1 {
        margin-right: 420px;
    }
    .menu_block, .menu_container {
        width: 1200px;
    }
    .menu_block {
        justify-content: center;
    }
    .menu_email {
        margin-right: 220px;
    }
    .mid_1, .mid_2 {
        width: 484px;
    }
    .mid_3, .mid_4 {
        width: 241px;
    }
    .mid_wrapper {
        justify-content: center;
    }
    .updated {
        margin-right: 10px;
    }

    .map_text {
        margin-right: 30px;
    }
    .menu_logo {
        margin-right: 179px;

margin-top: 25px;

margin-left: 114px;
    }
    
    .main_hot_left {
        margin-left: 200px;


    }
    .header_phone {
        margin-right: 579px;
        margin-left: 10px;
    }


}