/*____________________________________MAIN________________________*/
.main {
	margin: auto 0;
}
.main_h2 {
	padding: 15px 0px;
	font-size: 18px;
font-weight: 400;
font-family: Arial;
text-transform: uppercase;
/* Text style for "Atmos&Here" */
letter-spacing: -0.14px;
}
.main_h3 {
	font-size: 27px;

font-weight: 400;

text-transform: uppercase;

/* Text style for "$96.55" */

letter-spacing: -0.22px;
}
.sale_hr {
	opacity: 0.5;
	width: 230px;
height: 1px;
text-align: end;
background-color: #b2b2b2;
margin-bottom: 70px;
}
.sale_hr, .main_sale_pic {
	display: inline-block;
}

.main_hot {
	color: white;
	text-transform: uppercase;
	background-color: #f4845d;
	font-family: Arial;
	font-size: 30px;
	font-weight: 400;
	text-align: left;
	padding: 31px 33px;
}
.hot_img {
	float: right;
	padding-top: 5px;
}
.main_pics {
	margin-bottom: 25px;
}
.main_pics_button {
	background-color: #fd926d;
	width: 220px;
	border-bottom: 6px solid #dd6b44;
	margin : 15px auto;
}
.main_pics_button_text {
font-size: 20px;
font-weight: 400;
text-transform: uppercase;
padding: 22px 0 22px 30px;

}
.sale_img {
	background: white;
	height: 362px;
	width: 274px;
	vertical-align: middle;
}

.main_pics_block:first-child{
	margin-right: 30px; 
}
.main_sale_block:first-child{
	margin-right: 30px; 
}
.main_sale_pic {
	width: 140px;
	margin: 0 18px;
	opacity: 1.0;
	
	

}

.main_wrapper {
	background-color: #fd926d;
	padding: 30px 15px;
}
.main_pics_block {
	display: inline-block;
	width: 275px;
	background: #f7f7f7;
	vertical-align: bottom;
	margin-top: 33px;
}
.main_sale_block {
	width: 275px;
	display: inline-block;
	vertical-align: bottom;
}

.main_pics_plus {
	width: 17px;
	float:right;
	padding: 25px 20px;
}
.main_pics_button{
	color: white;
	display: inline-block;
}
.main_load {
width: 220px;
background-color: #000000;
margin: 0 auto;
margin-top: 30px;
color: white;
font-family: Arial;
}
.main_load_text {
	font-size: 20px;
	font-weight: 400;
	line-height: 60px;
	text-transform: uppercase;
	margin-top:22px;
}
.sale_block_text {
	background: #f7f7f7;
	margin-top: 30px;

}
.sale_right_img {
}