.main {
	background-image: url(bg.png);
	-moz-background-size: 100%;
	/* Firefox 3.6+ */
	-webkit-background-size: 100%;
	/* Safari 3.1+ и Chrome 4.0+ */
	-o-background-size: 100%;
	/* Opera 9.6+ */
	background-size: 100%;
	;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 10px;
	min-height: 100%;
}


.main_block {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
	width: 300px;
	display: inline-block;
	margin-right: 20px;
	text-align: left;
	margin-bottom: 70px;
	border-radius: 3px;
	vertical-align: top;
}

.main_block:nth-child(3n) {
	margin-right: 0;
}

.main_block_h {
	color: #212121;
	font-size: 21px;
	font-weight: 400;
	line-height: 28px;
	padding-top: 10px;
	padding-left: 1px;
	padding-bottom: 15px;
}

.main_block:hover:not(.main_check) {
	cursor: pointer;
	background-color: #edf5e3;
	color: #94c757;
}

/* .main_rectangle {
	width: 300px;
	height: 5px;
	background-color: #94c757;
	position: relative;
	bottom:9px;
	opacity: 0;
} */

.block_image {
	position: relative;
}

.main_block:hover .rect {
	width: 300px;
	height: 5px;
	background: #94c757;
	position: absolute;
	bottom: 10px;
	opacity: 1.0;
}

.main_block:hover .main_block_h {
	color: #8cc34b
}

.main_block_p,
.main_block_h,
.main_block_time {
	padding-left: 20px;
	padding-right: 20px;
}

.main_check {
	padding: 15px 20px;
	color: #727272;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	background: #f6f7f2;
	/* height: 40px; */
}

.main_block_p {
	color: #727272;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
}

.main_block_time {
	color: #b6b6b6;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
	padding-bottom: 18px;
	padding-top: 18px;

}


/* When the checkbox is checked, add a blue background */





/* .invisible-checkboxes {
	padding-top: 10px;
	padding-right: 19px;
	width: 20px;
	height: 20px;
} */


/* .checkbox-alias{
	background-color: white;
	border: 2px solid#b6b6b6;
	border-radius: 2px;
    display: inline-block;
    width: 18px;
    height: 18px;
	z-index: 1;
  	position: relative;
  	transition: all 50ms ease-out;
	cursor: pointer;
  
} */

/*   margin-right: -20px;
  position: relative;
  z-index: 2; */
}

/* .invisible-checkboxes input[type=checkbox]:checked + .checkbox-alias{
	background-color: #acd37e;
	border: 0px;
	width: 20px;
    height: 20px;
} */




/* .main_check input[type=checkbox] {
	position: absolute;
	top: -50px;
	left: -50px;
} */






label {
	color: #000;
	cursor: default;
	font-weight: normal;
	line-height: 30px;
	padding: 10px 0;
	vertical-align: middle;
	width: 100%;
}

label:before {
	content: " ";
	color: white;
	display: inline-block;
	/* шрифт Awesome*/
	font: 13px/20px FontAwesome;
	margin-right: 15px;
	position: relative;
	text-align: center;
	text-indent: 0px;
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	background: #FFF;
	border: 2px solid #b6b6b6;
	border-radius: 2px;
	vertical-align: middle;
}

input:checked+label:before {
	content: "\f00c";
	background-color: #acd37e;
	border: none;
	;
}

input:disabled+label:before {
	background: #eee;
	color: #aaa;
}

.main_text {
	color: #727272;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	padding-left: 10px;
}

input[type=checkbox] {
	display: none;
}